<!DOCTYPE html>
<html>
    <head>
        <title>About pamMT</title>
        <link rel="canonical" href="https://pammt.co.uk/about"/>
        <% include ./partials/head %>
        <link href="stylesheets/style.css" rel="stylesheet">
    <body>
        <% include ./partials/navbar %>
        <div class="mdc-card" id="main">
            <header>
                <h1 class="mdc-card">About pamMT</h1>
            </header>
            <div class="mdc-card" id="maincontent">
                <h3>About the project:</h3>
                <p>The physics and maths Modelling Tool, or "pamMT", is my A-Level computer science project for the 2019-2020 Academic year<br>
                It aims to provide a simple web interface to use a simple 2d physics engine to model the kinds of solutions that often come up when studying mechanics at A-Level.<br>
                In order to do this effectively, the site will feature an authentication system, and I will attempt to keep it up to at least basic security standards, such as using bcrypt to hash the passwords. I, however, will not be held responsible should these measures fail, so please don't use a password you use elsewhere, especially tied to any accounts that store payment info, such as paypal or amazon. <br>
                Should you be a course moderator, or require a login to review the project and do not wish to provide your own details, please contact me at the email in the footer to get login info for a test account.<br>
                Thanks for visiting! If you have any questions, suggestions or concerns feel free to contact me at the email in the page footer. </p>
            </div>   
        </div>
        <% include ./partials/footer %>
    </body>
</html>