<!DOCTYPE html>
<html>
    <head>
        <title>pamMT Home</title>
        <link rel="canonical" href="https://pammt.co.uk"/>
        <meta name="google-site-verification" content="JUZjGeauUSM3lQLfiG6d-3LwRDMUg3N8maSX5Fty1Oc" />
        <% include ./partials/head %>
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <%include ./partials/navbar %>
        <div class="mdc-card" id="main">
                <header>
                    <h1 class="mdc-card">Physics and Maths Modelling Tool: pamMT</h1>
                </header>
                <div class="mdc-card" id="maincontent">
                    <p>Welcome to the Physics and maths Modelling tool!</p>
                    <p>If you're logged in already, just choose "Open pamMT" to get going!
                        If not, then choose "Sign In" to create an account, or "About" to read
                        more about the project.
                    </p>
               </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>