<!DOCTYPE html>
<html>
    <head>
        <title>WIP</title>
        <% include ./partials/head %>
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <% include ./partials/navbar %>
        <div class="mdc-card" id="main">
            <header>
                <h1 class="mdc-card">Work in Progress!</h1>
            </header>
            <div class="mdc-card" id="maincontent">
                <h3>This page is a WIP!</h3>
                <p>Come back later <%= user.uname %>, I'm not done with this bit yet.</p>
            </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>